<?xml version='1.0' encoding='utf-8'?>
<widget id="com.prueba.basica.deferred" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RssDeferred</name>
    <description>
        A Apache Cordova application: Reader RSS.
        Pruebas de Deferred en los métodos de guardado de los RSS y
        mostrar la lista.        
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        David Juaneda Ayensa
    </author>
    
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <content src="principal.html" />
    
    <icon src="res/drawable-hdpi/lector.png"/>
    
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="5000" />    
    <preference name="FadeSplashScreenDuration" value="3000"/>
    <preference name="SplashShowOnlyFirstTime" value="false" />       
    <preference name="SplashMaintainAspectRatio" value="false" />
    
    
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="res/drawable-hdpi/lector.png" density="port-hdpi"/>
        <splash src="res/drawable-hdpi/lector.png" density="land-hdpi"/>
        <splash src="res/drawable-mdpi/lector.png" density="port-mdpi"/>
        <splash src="res/drawable-mdpi/lector.png" density="land-mdpi"/>
        <splash src="res/drawable-xhdpi/lector.png" density="port-xhdpi"/>
        <splash src="res/drawable-xhdpi/lector.png" density="land-xhdpi"/>
        <splash src="res/drawable-xxhdpi/lector.png" density="port-xxhdpi"/>
        <splash src="res/drawable-xxhdpi/lector.png" density="land-xxhdpi"/>
        <splash src="res/drawable-xxxhdpi/lector.png" density="port-xxxhdpi"/>
        <splash src="res/drawable-xxxhdpi/lector.png" density="land-xxxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
